.ini-section {
    border: 1px solid lightgrey;
    padding: 25px;
    background: linear-gradient(0deg, rgba(228,228,228,1) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 85%, rgba(228,228,228,1) 100%);
}

h1 {
    color: olivedrab;
}

.orange-text {
    color: rgb(196, 134, 19);
}

h2 {
    color: rgb(49, 175, 49);
    border-bottom: 1px solid lightgrey;
}

h4 {
    color: rgb(196, 134, 19);
}

.left-side {
    float: left;
    padding: 35px;
    margin-top: 50px;
}

.right-side {
    float: left;
    width: 900px;
}

body {
    margin: 0 auto  ;
}

.button,
.inicio-button {
    text-align: center;
    padding: 7px 15px;
    margin: 5px 0;
    list-style-type: none;
    border: 1px solid lightgrey;
    cursor: pointer;
}

.inicio-button {
    background: linear-gradient(0deg, rgba(255,235,205,1) 0%, rgba(255,255,255,1) 50%);
}

.button {
    background: linear-gradient(0deg, rgba(94,223,94,1) 0%, rgba(255,255,255,1) 50%);
}

.button:hover {
    background: linear-gradient(0deg, rgba(94,223,94,1) 0%, rgba(255,255,255,1) 80%);
}

.inicio-button:hover {
    background: linear-gradient(0deg, rgba(255,235,205,1) 0%, rgba(255,255,255,1) 80%);
}

.button a,
.inicio-button a {
    text-decoration: none;
    color: black;
}

.image-top {
    width: 1100px;
    height: 250px;
    object-fit: cover;
    background: url('../imagenes/image1.jpg');
    background-size: cover;
    border-radius: 15px;
}

.image-top-2 {
    background-image: radial-gradient(circle, rgba(255,255,255,0) 75%, rgba(255,255,255,1) 100%);
    width: 1100px;
    height: 250px;
}